.wrapper {
  background-color: var(--primary-blue);
}

.content {
  display: flex;
  height: 550px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  gap: 2rem;
  max-width: 1000px;
  color: white;
  padding: 2rem;
}

.clickable {
  cursor: pointer;
}
